@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;600&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}


/*header*/

header {
    position: fixed;
    width: 100%;
    height: 60px;
    background-color: wheat;
    z-index: 1;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, .3);
    padding: 1vw 8vw;
}

.logo {
    display: flex;
    align-items: center;
}

.search{
    display: flex;
}
.input{
    border-radius: 50px;
    height: 30px;
    width: 200px;
    padding: 0 20px;
}
.searchbtn{
    margin-left: -33px;
    height: 25px;
    width: 30px;
    margin-top: 4px;
    align-items: center;
    border-radius: 10px;
    border: none;
}

.logo img {
    width: 70px;
    cursor: pointer;
    border-radius: 15px;
}

.navigation a {
    text-decoration: none;
    margin-left: 30px;
    width: 60%;
    padding: 5px;
    font-size: 14px;
    color: rgb(63, 61, 61);
    transition: .5s;
}

.navigation a:hover {
    background-color: rgb(12, 12, 9);
    border-radius: 5px;
    color: aliceblue;
}

.navigation .btn {
    margin: 0 30px;
    padding: 5px 15px;
    cursor: pointer;
    transition: .5s;
    width: 130px;
    height: 50px;
    background: rgb(66, 66, 65);
    border: 2px solid #ffffff;
    outline: none;
    border-radius: 6px;
    font-size: 1.1em;
    color: #ffffff;
    font-weight: 500;
}

.navigation .btn:hover {
    background-color: rgb(73, 100, 239);
    color: rgb(244, 245, 179);
}

header i {
    transform: scaleX(0);
}

header i img {
    width: 25px;
    border-radius: 3px;
}

@media screen and (max-width: 980px) {
    nav {
        display: none;
        flex-direction: column;
        align-items: center;
    }

    nav.show {
        display: flex;
        position: absolute;
        top: 75px;
        width: 130px;
        right: 95px;
        line-height: 50px;
        background-image: linear-gradient(green,yellow,red);
        z-index: 99;
    }

    #menu-icon {
        display: block;
        cursor: pointer;
        font-size: 1.1em;
        transform: scaleX(1);
        padding-right: 60px;
    }
    .navigation a{
        margin: 0;
        padding: 0 5px;
    }
    .input{
        width: 80px;
    }
}

/*Home*/

.home {
    position: relative;
    top: 80px;
    background-image: url(ima/background.jpg);
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 100vh;
    text-align: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: azure;
}

.home h2 {
    position: relative;
    margin: 20px 30px;
    font-size: 1.7em;
    letter-spacing: 2px;
}

.home p {
    width: 70%;
    line-height: 25px;
}

.home .boten {
    margin: 20px;
}

.home .boten a {
    margin-left: 7px;
    text-decoration: none;
    border-radius: 7px;
}

.home .boten a.blue {
    background-color: blue;
    padding: 7px 10px;
    color: beige;
    transition: .5s;
}

.home .boten a.blue:hover {
    background-color: beige;
    color: blue;
}

.home .boten a.yellow {
    background-color: rgb(194, 177, 26);
    padding: 7px 10px;
    color: white;
    transition: .5s;
}

.home .boten a.yellow:hover {
    background-color: white;
    color: black;
}

/*Feature*/

.feature {
    position: relative;
    margin: 80px 0px 10px 0px;
    padding: 5vw 8vw 0 8vw;
    text-align: center;
}

.feature h2 {
    border: 20px 0;
    color: rgb(46, 40, 40);
}

.feature p {
    color: rgb(82, 73, 73);
}

.feature .fea-base {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 1rem;
    margin: 30px 0 40px 0;
}

.feature .fea-box {
    background-color: rgb(226, 219, 219);
    text-align: start;
}

.feature i {
    font-size: 2em;
    margin: 2% 50% 2% 50%;
    color: blueviolet;
}

/* courses */

#course {
    position: relative;
    padding: 30px;
    align-items: center;
    display: flex;
    flex-direction: column;
}

#course h2 {
    color: rgb(51, 47, 47);
}

#course h2 span {
    color: rgb(27, 119, 88);
    font-weight: 700;
}

#course .course-box {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
    grid-gap: 1rem;
    margin: 40px 0 30px 0;
}

#course .courses {
    background-color: aliceblue;
    text-align: start;
    position: relative;
    height: 100%;
    margin: 20px 0;
    border-radius: 20px;
}

#course .course-box img {
    width: 100%;
    height: 60%;
    background-position: center;
    background-size: cover;
    border-radius: 20px;
}

#course .details {
    padding: 15px 15px 0 15px;
}

#course .details span {
    font-size: 13px;
    color: rgb(68, 68, 60);
    letter-spacing: 1px;
}

#course .details h6 {
    font-size: 18px;
    color: rgb(61, 55, 55);
}

.le-icon {
    margin: 10px 0;
}

#course i {
    color: rgb(212, 212, 59);
}

.start-lear .white {
    border: 1px solid rgb(87, 78, 78);
    border-radius: 5px;
    margin: 5px;
    text-decoration: none;
    font-size: 12px;
    padding: 5px;
}

.start-lear .white:hover {
    background-color: rgb(172, 164, 164);
}

.start-lear .green {
    border: 1px solid rgb(87, 78, 78);
    border-radius: 5px;
    margin: 5px;
    text-decoration: none;
    font-size: 13px;
    padding: 5px;
    background-color: green;
    color: aliceblue;
}

.start-lear .green:hover {
    background-color: rgb(78, 88, 78);
}

/* Reminder*/

#reminderinfo {
    padding: 6vw 8vw;
    background-image: url(ima/back5.jpg);
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    border-radius: 20px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    color: rgb(93, 29, 241);
}

#reminderinfo .reminder {
    padding: 30px 0;

}

#reminderinfo .reminder p {
    font-size: 16px;
    color: rgb(36, 38, 41);
}

#reminderinfo .reminder h1 {
    color: rgb(226, 80, 80);
    margin-bottom: 30px;
    font-size: 2.4em;
}


/*Footor*/

footer .footer-base {
    position: relative;
    background-color: rgb(121, 116, 116);
    display: flex;
    font-size: 12px;
    flex-direction: row;
    justify-content: space-between;
    margin: 80px 0 0 0;
    padding: 10px;
    align-items: center;
}

footer .footer-base .footer-col {
    display: flex;
    flex-direction: column;
}

.footer-col a {
    color: black;
    text-decoration: none;
    line-height: 20px;
}

.subscribe {
    display: flex;
}

.subscribe input {
    width: 60%;
    margin-left: 5px;
}

.subscribe a {
    background-color: brown;
    margin: 0 5px;
    padding: 5px;
    border-radius: 5px;
    text-decoration: none;
}

.copy {
    font-size: 11px;
    margin: 5px;
}

.copy span {
    font-weight: 700;
    font-size: 1.2em;
}

/* Contact.html */

#contener {
    position: relative;
    background-image: linear-gradient(green,yellow,red);
    width: 100%;
    top: 70px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#contener h1 {
    color: #626466;
    font-size: 3em;
    margin: 20px;
}

#contener i {
    padding: 5px;
    font-size: 1.8em;
    color: #d136bc;
    border-radius: 80%;
    border: solid 2px rgb(226, 43, 211);
}

.contactinfo {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(450px, 1fr));
    grid-gap: 1rem;
    margin: 40px 0 30px 0;

}

.contactbox {
    background-color: aliceblue;
    text-align: center;
    position: relative;
    height: 100%;
    margin: 20px 0;
    border-radius: 20px;
}

#contener form {
    background-color: transparent;
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: 50px 0;
    max-width: 600px;
    border-radius: 10px;
    border: 2px solid #aeb6bf;
    background-color: rgb(179, 170, 157);

}

#contener form h3 {
    text-align: center;
    margin: 10px 0;
}

#contener form input {
    margin: 2px 0;
    height: 40px;
    font-size: 15px;
    background-color: #aeb6bf;
    border: none;
    border-bottom: #1b1d1f solid 2px;
    outline: none;
}

#contener form textarea {
    background-color: #aeb6bf;
    border: none;
    outline: none;
}

#contener form button {
    padding: 5px;
    background-color: #ff8311;
    color: #fff;
    font-size: 1.1em;
    outline: none;
    cursor: pointer;
    width: 160px;
    margin: 10px auto 0;
    border-radius: 10px;
}

#contener form button:hover {
    background-color: #c5a722;
}

/* Registration*/

.loginbody {
    position: relative;
    top: 80px;
    background-image: url(ima/login1.png);
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.wrapper {
    position: relative;
    width: 400px;
    height: 440px;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, .5);
    border-radius: 20px;
    backdrop-filter: blur(20px);
    box-shadow: 0 0 30px rgba(0, 0, 0, .5);
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.wrapper.active-popup {
    transform: scale(1);
}

.wrapper.active {
    height: 520px;
}

.wrapper .form-box {
    width: 100%;
    padding: 40px;
}

.wrapper .form-box.login {
    transition: transfrom .18s ease;
    transform: translateX(0);
}

.wrapper.active .form-box.login {
    transition: none;
    transform: translateX(-400px);
}

.wrapper .form-box.register {
    position: absolute;
    transition: none;
    transform: translateX(400px);
}

.wrapper.active .form-box.register {
    transition: transfrom .18s ease;
    transform: translateX(0);
}


.form-box h2 {
    font-size: 2em;
    color: #162938;
    text-align: center;
}

.input-box {
    position: relative;
    width: 100%;
    height: 50px;
    border-bottom: 2px solid #162938;
    margin: 30px 0;
}

.input-box label {
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    font-size: 1em;
    color: #162938;
    font-weight: 500;
    pointer-events: none;
    transition: .5s;
}

.input-box input:focus~label,
.input-box input:valid~label {
    top: -5px;
}

.input-box input {
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    font-size: 1em;
    color: #162938;
    font-weight: 600;
    padding: 0 35px 0 5px;
}

.input-box .icon {
    position: absolute;
    right: 8px;
    font-size: 1.2em;
    color: #162938;
    line-height: 57px;
}

.remember-forgot {
    font-size: .9em;
    color: #162938;
    font-weight: 500;
    margin: -15px 0 15px;
    display: flex;
    justify-content: space-between;
}

.remember-forgot label input {
    accent-color: #162938;
    margin-right: 3px;
}

.remember-forgot a {
    color: #162938;
    text-decoration: none;
}

.remember-forgot a:hover {
    text-decoration: underline;
}

.bth {
    width: 100%;
    height: 45px;
    background: #162938;
    border: none;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1em;
    color: #ffffff;
    font-weight: 500;
}

.login-register {
    font-size: .9em;
    color: #162938;
    text-align: center;
    font-weight: 500;
    margin: 25px 0 10px;
}

.login-register p a {
    color: #162938;
    text-decoration: none;
    font-weight: 600;
}

.login-register p a:hover {
    text-decoration: underline;
}

/*About us html file*/

#aboutinfo {
    background-image: linear-gradient(rgb(128, 0, 90), rgb(157, 255, 0));
    position: relative;
    text-align: center;
    width: 100%;
    padding: 50px 0;
    top: 70px;
    justify-content: space-between;
    align-items: center;

}

#aboutinfo h1 {
    text-align: center;
    font-size: 2.7em;
    margin-bottom: 60px;
    color: #3288df;
}

#aboutinfo img {
    width: 70%;
    margin-top: 40px;
}

#aboutinfo p {
    align-items: center;
    text-align: center;
    width: 60%;
    padding: 0 20%;
}

/*cource folder file*/

.courceContent {
    background-color:aquamarine;
    padding: 0 30px;
    position: relative;
    top: 80px;
    text-align: center;
}

.courceContent h2 {
    padding-top: 30px;
    color: rgb(46, 40, 40);
}

.courceContent h3 {
    color: rgb(82, 73, 73);
    text-align: center;
}

.courceContent .course-box {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
    grid-gap: 1rem;
    margin: 30px 0 40px 0;
}

.courceContent .courses {
    border-radius: 20px;
    background-color: rgb(226, 219, 219);
    text-align: start;
}

.courceContent video{
    width: 100%;
    height: 300px;
    background-position: center;
    object-fit: cover;
    border-radius: 10px;       
}

